<settings>
    <servers>
    <server>
      <id>maven-releases</id>
      <username>admin</username>
      <password>foxqweasdzxc</password>
    </server>
    <server>
      <id>maven-snapshots</id>
      <username>admin</username>
      <password>foxqweasdzxc</password>
    </server>
  </servers>
</settings>